<div class="calendar-dash">
  <% if !current_user.is_client %>
    <%= render 'components/instructor_sidebar' %>
  <% else %>
    <%= render 'components/client_sidebar' %>
  <% end %>

    <% if @over_ten %>
     <%= link_to 'Show Previous', '?m=all' %>
    <% end %>
    <div class="message_container">
      <span class="message-title">Messages with <%= @conversation.sender.first_name unless @conversation.sender.first_name == current_user.first_name %> <%= @conversation.recipient.first_name unless @conversation.recipient.first_name == current_user.first_name %></span>
      <div class="message-box" id="messages-lad">


     <% @messages.each do |message| %>
      <% if message.body %>
      <% user = User.find(message.user_id) %>

        <% if user == current_user %>
         <div class="message-blue">
          <div class="message-content">
            <%= message.body %>
          </div>
          <div class="message-header">
              <strong><%= user.first_name %></strong>
              <%= message.message_time %>
            </div>
        </div>

      <% elsif %>
       <div class="message-yellow">
        <div class="message-content">
          <%= message.body %>
        </div>
        <div class="message-header">
              <strong><%= user.first_name %></strong>
              <%= message.message_time %>
            </div>
      </div>
     <% end %>
     <% end %>
    <% end %>
  </div>

   <div class="reply-container">
    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do
      |f| %>
       <%= f.text_area :body, class: "form-control send-message" %>
     <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
       <%= f.submit "Add Reply", class: "button-blue" %>
    <% end %>
  </div>

  </div>
</div>

<script>
  window.onload=function () {
     var objDiv = document.getElementById("messages-lad");
     objDiv.scrollTop = objDiv.scrollHeight;
  }
</script>
