<div class="container-login" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.6) 50%), url(<%= image_path 'swimmer_1.jpg' %>);">
  <div class="wrap-login">
    <div class="login-form">
      <span class="login-title">Edit <%= resource_name.to_s.humanize %></span>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password", class: "style-input" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "style-input" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password", class: "style-input" } %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <% unless current_user.is_client? %>
            <%= f.input :first_name,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "First name", class: "style-input" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "Last name", class: "style-input" }%>
            <%= f.input :sport,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "Sport", class: "style-input" }%>
            <%= f.simple_fields_for :locations do |p| %>
              <%= p.input :address, required: true, autofocus: true, label: "Location(s)" %>
            <% end %>
            <%= f.input :price_per_hour,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "Price / hour", class: "style-input" }%>
            <%= f.input :abilities_taught,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "Abilities taught", class: "style-input" }%>
            <%= f.input :bio,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "Bio", class: "style-input-bio" }%>
          <% end %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "button-blue" %>
        </div>
      <% end %>



      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "links-login" %></p>

      <%= link_to "Back", :back, class: "button-blue" %>
    </div>
  </div>
</div>
