<div class="container-login" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.6) 50%), url(<%= image_path 'swimmer_1.jpg' %>);">
  <div class="wrap-login">
    <div class="login-form">
      <span class="login-title">Sign up</span>

<%= link_to("Are you an instructor?", users_new_instructor_path, method: "get", class: "form-actions")%>


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true ,
                      input_html: { autocomplete: "email", class: "style-input" } %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "style-input" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", class: "style-input" } %>
          <%= f.hidden_field :is_client, value: true %>
        </div>


        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "button-blue" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

