<div class="calendar-dash">
  <% if !current_user.is_client %>
    <%= render 'components/instructor_sidebar_messages' %>
  <% else %>
    <%= render 'components/client_sidebar' %>
  <% end %>
  <p><%= "#{@notifications}" %></p>
  <div class="mailbox-container">
    <span class="title">Mailbox</span>
    <ul class="inbox">
      <% if @conversations.empty? %>
        <p>You have no conversations yet</p>
      <% else %>
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <%= link_to conversation_messages_path(conversation) do %>
              <li class="conversation">
                <% lastMessage = conversation.messages[conversation.messages.length - 1] %>
                <% if conversation.sender_id == current_user.id %>
                  <% conversationPartner = User.find(conversation.recipient_id) %>
                <% else %>
                  <% conversationPartner = User.find(conversation.sender_id) %>
                <% end %>
                <div class="image-container client-details">
                  <%= cl_image_tag conversationPartner.photo, class: "avatar-mailbox" %>
                  <p class="conversation__name"><%= conversationPartner.first_name.capitalize %></p>
                </div>
                <div class="message">
                  <% if !lastMessage.nil? %>
                    <p class="message__summary"><%= lastMessage.title %></p>
                    <p class="message__body"><%= lastMessage.summary %></p>
                  <% end %>
                </div>
                <div class="date">
                  <% if !lastMessage.nil? %>
                    <%= lastMessage.created_at.strftime('%b %e, %l:%M %p') %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>





