<div class="calendar-dash">
  <%= render 'components/instructor_sidebar_clients' %>
  <div class="mailbox-container">
    <!-- <span class="title">Clients</span> -->
    <ul class="inbox">
      <% unless @clients.empty? %>
        <% @clients.each do |client| %>
          <li class="conversation">

            <div class="image-container">
              <%= cl_image_tag client.photo, class: "avatar-mailbox" %>
            </div>
            <div class="message">
              <%= client.first_name %> <%= client.last_name %>
            </div>
            <div>
              <%= link_to 'Send a message', conversations_path(sender_id: current_user.id, recipient_id: client), method: 'post', class: "btn book-btn"%>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
