<div class="calendar-dash">
  <%= render 'components/instructor_sidebar_clients' %>
  <div class="mailbox-container">
    <!-- <span class="title">Clients</span> -->
    <ul class="clients">
      <% if @clients.empty? %>
      <p>You dont have any clients at the moment</p>
      <% else %>
        <% @clients.each do |client| %>
          <li class="client">
            <div class="client-details">
              <%= cl_image_tag client.photo, class: "avatar-mailbox" %>
              <div class="client-name">
                <%= client.first_name.capitalize %> <%= client.last_name.capitalize %>
              </div>
            </div>
            <%= link_to 'Send a message', conversations_path(sender_id: current_user.id, recipient_id: client), method: 'post', class: "button-blue btn-margin"%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
