<% if !current_user.is_client %>
  <div class="calendar-dash">
    <%= render 'components/instructor_sidebar_schedule' %>
    <%= render 'components/calendar' %>
  </div>
<% else %>
  <div class="calendar-dash">
    <%= render 'components/client_sidebar' %>
    <div class="noflex-wrap">
      <div class="summary-header">
        <span class="head"><strong>Upcoming bookings</strong></span>
      </div>
      <div class="summary-header">
        <div class="header-details hidden-xs hidden-sm">
          <div class="column summary-name">Name</div>
          <div class="column summary-location">Location</div>
          <div class="column summary-date">Date</div>
          <div class="column summary-buttons">Options</div>
        </div>
      </div>
      <div class="summary">
        <div class="summary-details">
          <% @upcoming_bookings.each do |booking| %>
            <div class="text-wrap">
              <div class="column summary-name">
                <%= link_to users_show_path(booking.user_id) do %>
                  <%= User.find(booking.user_id).first_name %> <%= User.find(booking.user_id).last_name %>
                <% end %>
              </div>
              <div class="column summary-location">
                <%= Location.find(booking.location_id).address %>
              </div>
              <div class="column summary-date">
                 <%= booking.date_start.strftime("%b %e, %l:%M %p")  %>
              </div>
              <div class="column summary-buttons">
                <%= link_to("Booking details", booking_path(booking), method: "get", class: "button-blue details-margin") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="summary-header header-margin">
        <span class="head"><strong>Past bookings</strong></span>
      </div>
      <div class="summary-header">
        <div class="header-details hidden-xs hidden-sm">
          <div class="column summary-name">Name</div>
          <div class="column summary-location">Location</div>
          <div class="column summary-date">Date</div>
          <div class="column summary-buttons">Options</div>
        </div>
      </div>
      <div class="summary">
        <div class="summary-details">
          <% @past_bookings.each do |booking| %>
            <div class="text-wrap">
              <div class="column summary-name">
                <%= link_to users_show_path(booking.user_id) do %>
                  <%= User.find(booking.user_id).first_name %> <%= User.find(booking.user_id).last_name %>
                <% end %>
              </div>
              <p class="column summary-location">
                <%= Location.find(booking.location_id).address %>
              </p>
              <p class="column summary-date">
                 <%= booking.date_start.strftime("%b %e, %l:%M %p")  %>
              </p>
              <div class="column summary-buttons">
                <%= link_to("Booking details", booking_path(booking), method: "get", class: "button-blue details-margin") %>
                <%= link_to 'Leave a Review', new_user_review_path(booking.user_id), class: "button-blue" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

