<% if !current_user.is_client %>
  <div class="calendar-dash">
    <%= render 'components/instructor_sidebar' %>
    <%= render 'components/calendar' %>
  </div>
<% else %>
  <div class="calendar-dash">
  <%= render 'components/client_sidebar' %>
    <div>
      <% @bookings.each do |booking| %>
        <p>
          Instructor: <%= User.find(booking.user_id).first_name %> <%= User.find(booking.user_id).last_name %>
        </p>
        <p>
          Client: <%= User.find(booking.client_id).first_name %> <%= User.find(booking.client_id).last_name %>
        </p>
        <p>Location</p>
        <p>
          Longitude: <%= Location.find(booking.location_id).longitude %>
        </p>
        <p>
          Latitude: <%= Location.find(booking.location_id).latitude %>
        </p>
        <p>
          date start: <%= booking.date_start.strftime("%b %e, %l:%M %p")  %>
        </p>
        <p>
          date end: <%= booking.date_end.strftime("%b %e, %l:%M %p")  %>
        </p>
        <%= link_to("Booking details", booking_path(booking), method: "get") %>
        <%= link_to 'Leave a Review', new_user_review_path(booking), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>

