<div class="map-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path user.photo %>);">
  <div class="user-description">
     <h4><%= user.first_name + " " + user.last_name %></h4>
  </div>
  <div class="user-price">
    <p>£<%= user.price_per_hour %>/hr</p>
    <p><%= user.sport %></p>
  </div>
  <%= link_to "", user_path(user), class: "card-link"%>
</div>
