<div class="container-map">
  <div class="map-search-form-container">
    <%= render 'shared/search.html.erb' %>
  </div>
  <br>
  <% if @users.count == 1 %>
    <div class="results-found"><%= @users.count %> result found for <strong><%= @query %></strong></div>
  <% end %>
  <% if @users.count > 1 %>
    <div class="results-found"><%= @users.count %> results found for <strong><%= @query %></strong></div>
  <% end %>
  <div class="search_results_flex">
    <div class="card-map-container">
      <div class="card-wrap card-wrap--search-results">
        <%= render 'shared/cards.html.erb' %>
        <%= render 'shared/cards.html.erb' %>
        <%= render 'shared/cards.html.erb' %>
        <%= render 'shared/cards.html.erb' %>
        <%= render 'shared/cards.html.erb' %>
      </div>
      <div
        id="map"
        class="map"
        style="height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

  </div>
</div>
