<div class="container">
  <div class="row">
    <div class="bio_container col-sm-12 col-md-9">
      <div class="instructor_info">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="left-info height-max">
              <div>
                <%= cl_image_tag @user.photo, class: "avatar-xl" %>
              </div>
              <div class="instructor_summary">
                 <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
                 <p>Activity: <%= @user.sport.capitalize %></p>
                 <p>Price per hour: £<%= @user.price_per_hour %></p>
                 <% if @reviews.blank? %>
                 <p>No reviews yet</p>
                 <% else %>
                   <div class="avg_review">
                    <% @user_average_review.to_i.times do  %>
                      <span class="glyphicon glyphicon-star"></span>
                    <% end %>
                    <% (5- @user_average_review.to_i).times do %>
                      <span class="glyphicon glyphicon-star-empty"></span>
                     <% end %>
                     <%= "(#{@reviews.length})" %>
                   </div>
                 <% end %>
              </div>
              <div class="instructor_gallery">
                <%#= image_tag('phelps', class: "gallery") %>
              </div>
              <% if user_signed_in? && current_user.is_client %>
                <%= link_to "Message #{@user.first_name}", conversations_path(sender_id: current_user.id, recipient_id: @recipient), method: 'post', class: "btn btn-primary message_button"%>
              <% end %>
            </div>
            <br>
          </div>
          <div class="col-xs-12 col-sm-8 height-max">
            <div class="instructor_bio">
              <div class="instructor_description">
                <span class="bio-title"><%= "#{@user.first_name}'s Bio" %></span>
                  <p><%= @user.bio %></p>
                <span class="bio-title-small">Available days this week</span>
                  <% availabilities = [] %>
                  <% @user.availabilities.each do |a| %>
                    <% if a.date_start.beginning_of_week == Time.now.beginning_of_week %>
                      <% availabilities << a.date_start.strftime("%A") %>
                    <% end %>
                  <% end %>
                  <% availabilities.uniq.each do |av| %>
                    <p><%= av %></p>
                  <% end %>
                <span class="bio-title-small">Cancellation policy</span>
                <p>Cancellation fee of £10 if cancelled less than 24 hours before appointment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="instructor_reviews">
        <%= render 'reviews/index.html.erb' %>
      </div>
    </div>
    <div id="available_days" data-array="<%= @calendar_availabilities_uniq.to_json %>">
      <div class="col-sm-12 col-md-3">
        <div class="book_instructor position-fixed">
          <h3>Book with <%= @user.first_name %></h3>
          <br>
          <div class="form-wrapper" style="width: 200px; margin: 0 auto;">
            <%= render 'bookings/new.html.erb' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
