<div class="container">
  <div class="row">
    <div class="bio_container col-sm-12 col-md-9">
      <div class="instructor_info">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="left-info height-max">
              <div>
                <%= cl_image_tag @user.photo, class: "avatar-xl" %>
              </div>
              <div class="instructor_summary">
                 <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
                 <p>Activity: <%= @user.sport.capitalize %></p>
                 <p>Price per hour: £<%= @user.price_per_hour %></p>
                 <div class="avg_review">
                   <span><i class="fas fa-star"></i></span>
                   <span><i class="fas fa-star"></i></span>
                   <span><i class="fas fa-star"></i></span>
                   <span><i class="fas fa-star"></i></span>
                   <span><i class="fas fa-star"></i></span>
                 </div>
              </div>
              <div class="instructor_gallery">
                <%#= image_tag('phelps', class: "gallery") %>
              </div>
              <button type="button" class="button-blue"><%= "Message #{@user.first_name}" %></button>
            </div>
            <br>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="instructor_bio">
              <div class="instructor_description">
                <span class="bio-title">Bio</span>
                <p><%= @user.bio %>Something about me...</p>
                <span class="bio-title-small">Avability</span>
                <p>Monday: N/A</p>
                <p>tuesday: N/A</p>
                <p>Wednesday: N/A</p>
                <p>Thursday: N/A</p>
                <p>Friday: N/A</p>
                <p>Saturday: N/A</p>
                <p>Sunday: N/A</p>
                <span class="bio-title-small">Cancelation policy</span>
                <p>Cancellation fee of £10 if cancelled less than 24 hours before appointment.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="instructor_reviews">
        <span class="bio-title">Reviews</span>
        <div class="review">
          <p>Excellent teacher</p>
          <p>5 stars</p>
        </div>
        <div class="review">
          <p>Excellent teacher</p>
          <p>5 stars</p>
        </div>
        <div class="review">
          <p>Excellent teacher</p>
          <p>5 stars</p>
        </div>
      </div>
    </div>
    <div class="book_instructor hidden-md hidden-lg">
      <h3>Book with <%= @user.first_name %></h3>
      <br>
      <div class="form-wrapper" style="width: 200px; margin: 0 auto;">
        <%= render 'bookings/new.html.erb' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="book_instructor position-fixed">
        <h3>Book with <%= @user.first_name %></h3>
        <br>
        <div class="form-wrapper" style="width: 200px; margin: 0 auto;">
          <%= render 'bookings/new.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</div>





