
<% @users.each do |user| %>
  <li class="card-item">
    <div class="card">
      <div class="card-img">
        <%= link_to user_path(user) do %>
          <%= cl_image_tag user.photo %>
        <% end %>
      </div>
      <div class="card-content">
        <div class="card-title">
          <%= user.sport %>
        </div>
        <p class="card-text"><%= user.first_name %> <%= user.last_name %> || £<%= user.price_per_hour %>/hr</p>
        <% if user.reviews.blank? %>
          <p class = "card-text">No reviews yet</p>
        <% else %>
          <div class="avg_review card-text">
            <% user.average_review.to_i.times do  %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% (5- user.average_review.to_i).times do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
            <%= "(#{user.reviews.length})" %>
          </div>
        <% end %>
      </div>
    </div>
  </li>
<% end %>

