<div style = "text-align: center;">
<h3><%= "Leave a review for #{@user.first_name}" %></h3>
<%= cl_image_tag(@user.photo, class: "avatar-large") %>
</div>

<div class = "row" >
  <div class="col-sm-6 col-sm-offset-3">
    <div class="review_form">
      <%= simple_form_for [@user, @review] do |f| %>
        <div>
          <%= f.error_notification %>
          <%= f.label :body, 'Write your review' %>
          <%= f.input :body, required: true, label: false %>
          <%= f.input :rating, input_html: { class: "hidden", id: "star-selector" } %>
          <span class="glyphicon glyphicon-star-empty star"></span>
          <span class="glyphicon glyphicon-star-empty star"></span>
          <span class="glyphicon glyphicon-star-empty star"></span>
          <span class="glyphicon glyphicon-star-empty star"></span>
          <span class="glyphicon glyphicon-star-empty star"></span>
        </div>
        <div class="review_buttons">
          <%= f.submit "Add review", class: "button-blue" %>
          <%= link_to "Back", user_bookings_path, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

