<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sportlance</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_pack_tag "map" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% unless current_page?(root_path) %>
      <div class="fake-navbar"></div>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
  </body>
  <script>
    function initUpdateNavbarOnScroll() {
      const banner = document.querySelector('.banner');
      const navbar = document.querySelector('.navbar-wagon');
      console.log(banner)
      console.log(navbar)
      if (banner) {
        if (navbar) {
          window.addEventListener('scroll', () => {
            if (window.scrollY > calc(100% - 70px); ) {
              navbar.classList.add("navbar-wagon-white");
            } else {
              navbar.classList.remove('navbar-wagon-white');
            }
          });
        }
      } else {
        navbar.classList.add('navbar-wagon-white');
      }
    }
    initUpdateNavbarOnScroll()
  </script>
</html>
